// favicon
link(rel='shortcut icon' href='assets/icon.jpg' type='image/x-icon')

// normalize
link(rel='stylesheet' href='css/normalize.css')

// Google Fonts
link(rel='preconnect' href='https://fonts.googleapis.com')
link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap' rel='stylesheet')

// font-awesome
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css')

// main css
link(rel='stylesheet' href='css/main.css')