//- header
nav.navbar 
	.nav-center 
		.nav-header
			a.nav-logo(href="index.html")
				img(src="./assets/logo.png" alt="Foodie")
			button(class="nav-btn btn")
				i(class="fas fa-bars")
		.nav-links 
			a(href="index.html" class="nav-link") Home 
			a(href="about.html" class="nav-link") About 
			a(href="tags.html" class="nav-link") Tags
			a(href="recipes.html" class="nav-link") Recipes
			div(class="nav-link contact-link")
				a.btn(href="contact.html") contact